*{
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url(./img/login_bg.png); */
}

.tile{
  font-size: 22px;
}

table{
  width: 1600px;
  overflow: hidden;
  margin: 0 auto;
}

.table th{
  border: 2px solid gray;
  background-color: #333;
  color: #fff;
}

.table tr{
  vertical-align: middle;
  text-align: center;
}

.table td{
  border: 2px solid gray;
  /* background-color: lightgray; */
}

td, th{
  position: relative;
}

/* Row */
td:hover::before { 
  background-color: #eee;
  content: '';  
  height: 100%;
  left: -10000px;
  position: absolute;  
  top: 0;
  width: 10000px;   
  z-index: -2;        
}

/* Column */
td:hover::after { 
  background-color: #ffa;
  content: '';  
  height: 10000px;    
  left: 0;
  position: absolute;  
  top: -10000px;
  width: 100%;
  z-index: -3;        
}